@model ProjectDoc.Models.Stats

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/layoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Stats</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CampID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerAssists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerAssists)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerInter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerInter)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
